body {
  background-color: #1a274d;
  /* background-color: #4D7EA8; */
}

#card {
  margin: 10px;
  margin-left: 45px;
  height: 200px;
  width: 550px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  transition: all 0.3s ease;
}

#card:hover {
  background-color: #4169e1;
  color: #fff;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-button:not(:last-child) {
  margin-right: 10px;
}

.pageNumber {
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
  margin-right: 15px;
  color: #fff;
}

.companyImage {
  position: fixed;
  width: 70px;
  height: 70px;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

nav {
  display: flex;
  justify-content: center;
}

.paginationContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1726px) {
  .paginationContainer {
    position: static;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #card {
    margin: 10px;
    height: auto;
    width: 90%;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease;
  }

  .title {
    font-size: 18px;
  }

  .pageNumber {
    font-size: 18px;
  }

  .companyImage {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #card {
    margin: 10px;
    height: auto;
    width: 450px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    transition: all 0.3s ease;
  }
}
