.navbarContainer {
  background-color: white;
  border-bottom: 3px solid #007bff;
}

.brandText {
  color: black;
  margin-left: 25px;
}

.brandText:hover {
  color: #0069d9;
}

.loginButton {
  margin-left: auto;
  margin-right: 15px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0069d9;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

a:hover {
  color: #0069d9;
}
.searchContainer {
  display: flex;
}
.searchInput {
  margin-left: 25px;
}

.searchButton {
  display: block;
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
  .navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: none;
  }

  .brandText {
    margin: 0;
    text-align: center;
  }

  .loginButton {
    margin-left: 25px;
    margin-top: 10px;
    width: 80%;
  }

  .searchInput {
    margin-left: 5px;
    margin-top: 5px;
  }

  .searchButton {
    margin-left: 25px;
    margin-top: 10px;
    width: 80%;
  }

  .searchContainer {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .navbarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .brandText {
    margin-left: 15px;
    text-align: center;
  }

  .loginButton {
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
    display: inline-block;
  }

  .searchInput {
    margin-left: 15px;
    margin-top: 5px;
    width: 95%;
  }

  .searchButton {
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
  }

  .searchContainer {
    display: block;
  }
}
